# Output and local files
build/
ifcc
Makefile.local

# Intermediate files
*.out
*.s
*.o
*.c

# Tests
tests/gui/*.class
tests/gui/*.java
tests/gui/*.interp
tests/gui/*.tokens
tests/out

# Custom settings for VSCode
.vscode
